body {
   background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-romantic-beautiful-rose-flower-background-design-flower-backgroundplant-backgroundholiday-image_70028.jpg); /
    background-size: cover;
     background-repeat: no-repeat;
  
  background-color:;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
/*   margin-top: 10%; */
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 1px solid black;
  background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtNDI4LTAwNTRfMS5qcGc.jpg); /
    background-size: cover;
     background-repeat: no-repeat;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 450px;
  width: 600px;
  object-fit: cover;
  border: 1px solid black;
}

h2{
  color: black;
/*   font-size: 10px; */
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}